div(id=komicaHelper)
    a(href="#" id=update) 更新
    br
    a(href="#" id=expand) 放大所有圖片
    br
    a(href="#" id=contract) 縮小所有圖片
    br
    a(href="#" id=create) #{newString}
    br
    a(href="#" id=night) 夜間模式
