div(id=komicaHelper)
    a(href="#" id=update class=hiddenButton) 更新
        br
    a(href="#" id=expand class=hiddenButton) 放大所有圖片
        br
    a(href="#" id=contract class=hiddenButton) 縮小所有圖片
        br
    a(href="#" id=night class=hiddenButton) 夜間模式
